<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="inner cover">
        <h1 class="cover-heading">Contact</h1>
        <hr>
        <!--<p class="lead">Contact info</p>-->

        <a href="https://github.com/husarms" target="_blank">
          <img src="/assets/GitHub_Logo.png" width="160" height="60" border="0" alt="Link to Matt Husar's profile on GitHub">
        </a>
        <a href="http://www.linkedin.com/in/matthusar" target="_blank">
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Matt Husar's profile on LinkedIn">
        </a>

      </div>

    </div>
  </div>
</div>