<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="inner cover" xmlns="http://www.w3.org/1999/html">
        <h1 class="cover-heading">Demos</h1>
        <hr>

        <p>Audio Visualizer app using Processing</p>
        <iframe src="//player.vimeo.com/video/101268614" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <hr>
        <p>Mobile app with audio control using Processing</p>
        <iframe src="//player.vimeo.com/video/100177428" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>