<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>demo:zero
          <p class="lead">&nbsp;That weird place on the internet</p>
        </h1>
      </div>
    </div>
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">


          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/assets/audiovisualizer.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Audio Visualizer with Processing</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>For the first demo we have a simple audio visualizer that uses a language called Processing. I was exposed to it through
                    a Coursera course offered by the University of London entitled "Creative Programming for Digital Media & Mobile Apps".</p>
                  <p class="lead"><%= link_to "Check it out", audio_visualizer_path, class: "btn btn-primary",'data-no-turbolink' => true %>
                  <!--<%= link_to "Go to Processing Website", "https://www.processing.org/", class: "btn btn-default", target: "_blank" %>-->
                  <!--<%= link_to "Go to Coursera Website", "https://www.coursera.org/", class: "btn btn-default", target: "_blank"  %>-->
                  </p>
                  <ul class="list-inline"><li><i class="glyphicon glyphicon-plus"></i> Added 11/23/2014</li></ul>
                  <!--<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>-->
                  <!--<ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>-->
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Story Title Here</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</p>
                  <p class="lead"><button class="btn btn-default">Read More</button></p>
                  <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                  <ul class="list-inline"><li><a href="#">3 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 1 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->


          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


        </div>
      </div>



    </div><!--/col-12-->
  </div>
</div>